@import "tailwindcss";
@import "@nuxt/ui";

@theme static {
  --font-title: 'Zain', sans-serif;
  --font-sans: 'Nunito', sans-serif;

  --color-blue-50: #e9eef3;
  --color-blue-100: #bccddc;
  --color-blue-200: #90abc5;
  --color-blue-300: #7a9ab9;
  --color-blue-400: #4d79a1;
  --color-blue-500: #21578a;
  --color-blue-600: #1e4e7c;
  --color-blue-700: #173d61;
  --color-blue-800: #112c45;
  --color-blue-900: #0a1a29;
  --color-blue-950: #03090e;

  --color-red-50: #f3ecee;
  --color-red-100: #dac5cc;
  --color-red-200: #b68b98;
  --color-red-300: #aa7787;
  --color-red-400: #915065;
  --color-red-500: #853d54;
  --color-red-600: #78374c;
  --color-red-700: #6a3143;
  --color-red-800: #431f2a;
  --color-red-900: #281219;
  --color-red-950: #0d0608;
}

h1, h2, h3, h4, h5, h6 {
  font-family: var(--font-sans);
}

.page-transition-enter-active, .page-transition-leave-active {
  transition: opacity 0.5s ease-in-out;
  transition: all 0.2s ease-in-out;
}

.page-transition-enter-from, .page-transition-leave-to {
  opacity: 0;
}

.page-transition-enter-to, .page-transition-leave-from {
  opacity: 1;
}
